@model _19T1021142.DomainModels.Product
@{
}

<div class="box box-primary">
    <div class="box-header with-border ">
    </div>

    <div class="box-body">
        <form class="form-horizontal" action="~/Product/Create" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <input type="hidden" name="ProductID" value="@Model.ProductID" />
            <div class="form-group">
                <label class="control-label col-sm-2">Tên mặt hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="ProductName" value="@Model.ProductName" autofocus>
                    @Html.ValidationMessageFor(m => m.ProductName, "", new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Loại hàng:</label>
                <div class="col-sm-10">
                    <select class="form-control" name="CategoryID">
                        <option value="0">-- Loại hàng --</option>
                        @foreach (var item in _19T1021142.BusinessLayers.CommonDataService.ListOfCategories())
                        {
                            <option value="@item.CategoryID">
                                @item.CategoryName
                            </option>

                        }
                    </select>
                    @Html.ValidationMessageFor(m => m.CategoryID, "", new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Nhà cung cấp:</label>
                <div class="col-sm-10">
                    <select class="form-control" name="SupplierID">
                        <option value="0">-- Nhà cung cấp --</option>
                        @foreach (var item in _19T1021142.BusinessLayers.CommonDataService.ListOfSuppliers())
                        {
                            <option value="@item.SupplierID">
                                @item.SupplierName
                            </option>
                        }
                    </select>
                    @Html.ValidationMessageFor(m => m.SupplierID, "", new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Đơn vị tính:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Unit" value="@Model.Unit">
                    @Html.ValidationMessageFor(m => m.Unit, "", new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Giá hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Price" value="@Model.Price">
                    @Html.ValidationMessageFor(m => m.Price, "", new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh :</label>
                <div class="col-sm-10">
                    <input type="file" id="exampleFormControlFile1" class="form-control" name="uploadPhoto" accept="Image/*"
                           onchange="document.getElementById('Photo').src = window.URL.createObjectURL(this.files[0])" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <input type="hidden" class="form-control" name="Photo" value="@Model.Photo" />
                    <img id="Photo" src="@Model.Photo" class="img-circled" style="width: 100px" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Lưu dữ liệu
                    </button>
                    <a class="btn btn-warning" href="~/product">
                        <i class="fa fa-ban"></i> Quay lại
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="box-footer text-center">
    </div>

</div>


